.inherit-link {
  color: inherit;
}
.v-pagination .v-btn {
  box-sizing: border-box;
  padding: 0 2px;
  min-width: 30px;
  width: auto !important;
}

.screen-height-75 {
  height: 75vh;
}

.vertical-sroll {
  overflow: hidden;
  overflow-y: scroll;
}

.chip-box {
  background: #eeeeef;
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 13px;

  @at-root .v-theme--dark & {
    background: #3e4257;
  }
}

// tables
.cell-small {
  width: 90px;
}
